<%- include("partials/header"); -%>

<h1><%= postTitle %></h1>

<p><%= postContent %></p>
    <a href="/" class="btn btn-primary btn-home"><i class="fa-solid fa-house"></i></a>  
    <a href="/delete/<%=postId%>"><button type="submit" class="btn btn-danger btn-delete" name="postId" value="<%= postId %>"><i class="fa-solid fa-trash"></i></button></a>
    <a href="/edit/<%=postId%>"><button type="submit" class="btn btn-warning btn-delete" name="postId" value="<%= postId %>"><i class="fa-solid fa-edit"></i></button></a>
<%- include("partials/footer"); -%>